<nz-table class="custom-table" [nzData]="bookedServices" #basicTable [nzPageSize]="20" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Service</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of basicTable.data">
        <td>{{ booking.serviceName }}</td>
        <td>{{ booking.startDate ? (booking.startDate | date: 'dd/MM/yyyy') : 'Non défini' }}</td>
        <td>{{ booking.endDate ? (booking.endDate | date: 'dd/MM/yyyy') : 'Non défini' }}</td>
        <td class="status-cell">{{ booking.reservationStatus }}</td>
        <td *ngIf="booking.reviewStatus === 'FALSE'">
          <button
            nzSize="small"
            nz-button
            nzType="primary"
            nzDanger
            routerLink="/client/review/{{booking.id}}"
            class="review-btn"
          >
            Review
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  