<nz-table #basicTable [nzData]="bookings" 
          [nzPageSize]="20" [nzShowPagination]="false" 
          class="dashboard-table">
  <thead>
    <tr>
      <th class="heading">Client Name</th>
      <th class="heading">Local</th>
      <th class="heading">Start Date</th>
      <th class="heading">End Date</th>
      <th class="heading">Status</th>
      <th class="heading">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of basicTable.data" class="table-row">
      <td>{{booking.username}}</td>
      <td>{{booking.serviceName}}</td>
      <td>{{ booking.startDate ? (booking.startDate | date: 'dd/MM/yyyy') : 'Non défini' }}</td>
      <td>{{ booking.endDate ? (booking.endDate | date: 'dd/MM/yyyy') : 'Non défini' }}</td>
      <td class="status {{booking.reservationStatus | lowercase}}">
        {{booking.reservationStatus}}
      </td>
      <td class="action-buttons">
        <ng-container *ngIf="booking.reservationStatus === 'PENDING'">
          <button nzSize="small" nz-button nzType="primary" 
                  (click)="changeBookingStatus(booking.id, 'Approve')">
            Approve
          </button>
          <button nzSize="small" nz-button nzType="primary" nzDanger
                  (click)="changeBookingStatus(booking.id, 'Reject')">
            Reject
          </button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
