<div class="bg">
    <div class="ad-card" *ngFor="let ad of ads">
      <div nz-row>
        <!-- Image Section -->
        <div nz-col nzSpan="8" class="ad-image">
          <img [src]="updateImg(ad.returnedImg)" alt="Ad Image" />
        </div>
  
        <!-- Details Section -->
        <div nz-col nzSpan="16" class="ad-details">
          <h2>{{ad.serviceName}}</h2>
          <hr />
          <h5>Price: <b>{{ad.price}}</b></h5>
          <h5>Description: <b>{{ad.description}}</b></h5>
          <hr />
          <div class="ad-actions">
            <button nzSize="small" nz-button nzType="primary" routerLink="/company/update/{{ad.id}}">
              Update
            </button>
            <button 
              nzSize="small" 
              nz-button 
              nzType="primary" 
              nzDanger 
              (click)="deleteAd(ad.id)" 
              class="delete-btn">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  